<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntmhien.ailatrieuphu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dialogs.GoiChoNguoiThan"></activity>
        <activity android:name=".dialogs.TroGiupKhangGia" />
        <activity android:name=".activity.MuaCredit" />
        <activity android:name=".activity.BXH" />
        <activity android:name=".activity.LichSuChoi" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.QL_TaiKhoan" />
        <activity android:name=".activity.HienThiLinhVuc" />
        <activity android:name=".activity.QuenMatKhau" />
        <activity android:name=".activity.DangKi" />
        <activity android:name=".activity.HienThiCauHoi" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>